<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunshine Hotel</title>
  <link rel="stylesheet" href="css/css-reset.css">
  <link rel="stylesheet" href="css/booking.css">
</head>

<body>
  <container id="app">

    <header>
      <nav>
        <ul class="navlinks">
          <a href="index.html" class="navlink">
            <li>Főoldal</li>
          </a>
          <a href="about.html" class="navlink">
            <li>Rólunk</li>
          </a>
          <a href="gallery.html" class="navlink">
            <li>Galéria</li>
          </a>
          <a href="booking.html" class="navlink">
            <li>Szobafoglalás</li>
          </a>
          <a href="bookingsTable.html" class="navlink">
            <li>Táblázat</li>
          </a>
          <a href="connect.html" class="navlink">
            <li>Kapcsolat</li>
          </a>
        </ul>
      </nav>
    </header>
    
    <section>
      <section v-if="showServerError">
        <h1>Nem sikerült elküldeni a foglalást, kérjük próbálja meg később!</h1>
      </section>
      <form @submit.prevent="onSubmit" v-if="showForm">
        <h1>Szobafoglalás</h1>
        <label for="lastName">Vezetéknév:</label>
        <input type="text" v-model="formUserData.lastName" id="lastName" name="lastName">
        <label for="firstName">Keresztnév:</label>
        <input type="text" v-model="formUserData.firstName" id="firstName" name="firstName">

        <label for="numberOfGuests">Hány főre foglal szobát?</label>
        <select v-model="formUserData.numberOfGuests" id="numberOfGuests" name="numberOfGuests">
          <option value="" disabled hidden>Vendégek száma</option>
          <option v-for="numberOfGuests in formOptions.numberOfGuestsOptions" :value="numberOfGuests.value">
            {{ numberOfGuests.text }}
          </option>
        </select>

        <label for="dateOfArrival">Start date:</label>
        <input v-model="formUserData.dateOfArrival" type="date" id="dateOfArrival" name="dateOfArrival" min="2023-06-01"
          max="2023-12-31">
        <label for="dateOfDeparture">End date:</label>
        <input v-model="formUserData.dateOfDeparture" type="date" id="dateOfDeparture" name="dateOfDeparture" min="2023-06-01" max="2023-12-31">

        <label for="formRoomText">Melyik lakosztályban kíván megszállni?</label>
        <select v-model="formUserData.formRoom" id="formRoom" name="formRoom" placeholder="lakosztályaink">
          <option value="" disabled hidden>Lakosztályt választok</option>
          <option v-for="room in formOptions.formRoomsDataBaseElements" :value="room.value" :disabled="room.isOccupied">
            {{ room.text }}
          </option>
        </select>
        <label for="comment">Megjegyzés:</label>
        <textarea v-model="formUserData.comment" id="comment" class="comment" name="comment" rows="3" cols="30">
        </textarea>
        <br>
        <input class="submit" type="submit" value="Submit">
      </form>

      <section v-if="!showForm">
        <h1>Sikeresen feladta a foglalását!</h1><br><br>
        <p>Név: {{ formUserData.lastName }} {{ formUserData.firstName }}</p>
        <p>Vendégek száma: {{ formUserData.numberOfGuests }} </p>
        <p>Érkezés napja: {{ formUserData.dateOfArrival }} </p>
        <p>Távozás napja: {{ formUserData.dateOfDeparture }} </p>
        <p>Lakosztály: {{ roomsData[formUserData.formRoom].name }} </p>
        <p>Megjegyzés: {{ formUserData.comment }} </p>
      </section>


    </section>

    <footer>
      <h2>Készítette: <br> Szabó Péter Tamás</h2>
    </footer>

  </container>




  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
  <script src="bookingsApp.js"></script>


</body>

</html>