<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunshine Hotel</title>
  <link rel="stylesheet" href="css/css-reset.css">
  <link rel="stylesheet" href="css/booking.css">
</head>

<body>
<container id="app">

    <header>
      <nav>
        <ul class="navlinks">
          <a href="index.html" class="navlink">
            <li>Főoldal</li>
          </a>
          <a href="about.html" class="navlink">
            <li>Rólunk</li>
          </a>
          <a href="gallery.html" class="navlink">
            <li>Galéria</li>
          </a>
          <a href="booking.html" class="navlink">
            <li>Szobafoglalás</li>
          </a>
          <a href="bookingsTable.html" class="navlink">
            <li>Táblázat</li>
          </a>
          <a href="connect.html" class="navlink">
            <li>Kapcsolat</li>
          </a>
        </ul>
      </nav>
    </header>

    <section>
      <form @submit.prevent="onSubmit">
        <h1>Szobafoglalás</h1>
        <label for="lastName">Vezetéknév:</label>
        <input type="text" v-model="formUserData.lastName" id="lastName" name="lastName">
        <label for="firstName">Keresztnév:</label>
        <input type="text" v-model="formUserData.firstName" id="firstName" name="firstName">

        <label for="headCount">Hány főre foglal szobát?</label>
        <select v-model="formOptions.headCount" id="headCount" name="headCount">
          <option value="" disabled hidden>Vendégek száma</option>
          <option v-for="headCount in formOptions.headCountOptions" :value="headCount.value">
            {{ headCount.text }}
          </option>
        </select>

        <label for="startDate">Start date:</label>
        <input v-model="formOptions.startDate" type="date" id="startDate" name="startDate" min="2023-06-01" max="2023-12-31">
        <label for="endDate">End date:</label>
        <input v-model="formOptions.endDate" type="date" id="endDate" name="endDate" min="2023-06-01" max="2023-12-31">

        <label for="formRoomText">Melyik lakosztályban kíván megszállni?</label>
        <select v-model="formOptions.formRoomList" id="formRoomList" name="formRoomList" placeholder="lakosztályaink">
          <option value="" disabled hidden>Lakosztályt választok</option>
          <option v-for="room in formOptions.formRoomsDataBaseElements" :value="room.value" :disabled="room.isOccupied">
            {{ room.text }}
          </option>
        </select>
        <label for="comment">Megjegyzés:</label>
        <textarea v-model="formUserData.comment" id="comment" class="comment" name="comment" rows="3" cols="30">
        </textarea>
        <br>
        <input class="submit" type="submit" value="Submit">
      </form>
    </section>

    <footer>
      <h2>Készítette: <br> Szabó Péter Tamás</h2>
    </footer>

  </container>




  <script src="roomsDatabase.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



  <script src="app.js"></script>


</body>

</html>