html {
  height: 100%;
}
nav {
  height: 6vh;
  width: 100%;
  background-color: rgb(24, 24, 24);
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navlink {
  padding: 0.5em 2em;
  text-decoration: none;
  color: blanchedalmond;
  font-size: 2rem;
}
h1 {
  font-size: 3rem;
  margin: 0em 0 2em 0;
}

h2 {
  color: white;
  text-align: center;
  text-justify: center;
}

section {
  background-color: rgb(59, 44, 29);
  background-size: cover;
  text-align: center;
  padding: 2rem 0;
  color: rgb(212, 212, 212);
  width: 100%;
  min-height: 80vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableFrame {
  width: 90%;
}

table,
td {
    border: 5px solid #881616;
    min-width: auto;
    background-color: #181818;
    color: #ffffffd2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
}

tr {
  height: 1.5em;
}

thead,
tfoot {
    background-color: #181818;
    color: #ffffffd2;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    height: 2em;
}

footer {
  background-color: black;
  width: 100%;
  min-height: 3.1vh;
  padding: 2em 0;
  line-height: 1em;
}